services:
  db:
    image: postgres:15-alpine
    container_name: cart-db
    restart: always
    environment:
      POSTGRES_DB: cart_db
      POSTGRES_USER: user_cart
      POSTGRES_PASSWORD: password_cart
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data: