name: Java CI with Maven (API)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: api
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build and Prepare
        run: mvn clean test-compile

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-target
          path: api/target/
          retention-days: 1

  test:
    needs: build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: api
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Download Build Artifact
        uses: actions/download-artifact@v4
        with:
          name: build-target
          path: api/target/

      - name: Run Tests
        run: mvn test -Dspring.profiles.active=dev -Dcompiler.skip=true